        <!-- Modal -->
        <div class="modal fade" id="create-questionnaire" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content" style="background-color: #404040; border-radius: 30px;">
             
                <div class="modal-body">
                   <i class="material-icons" style="vertical-align: middle">add</i> Create 

                   <form action="/admin/manage-questionnaire/create/questionnaire" method="post">
                    <div class="form-group text-left">
                        <input type="text" name="question-text" class="form-control" id="question-text" style="background-color: #303030; border: none;"
                            placeholder="Name">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn long-btn btn btn-primary w-100" style="background-color: #ff3333; border: none;  border-radius: 30px;"">Submit</button>
                    </div>
                </form>

                </div>
              </div>
            </div>
          </div>