{% if question %}
<form action="/admin/manage-questionnaire/update/{{ question._id }}/update-logic-jumps" method="post">
    <div class="form-group">
        <h4>Logic Jump</h4>
        <h5>{{question.text}}</h5>
    </div>
    <div class="text-center row space-1">
        <a href="/admin/manage-questionnaire/update/{{question._id}}/add-logic-jump">Add Logic Jump</a>
    </div>
    {% for jump in logic_jumps %}
    {% include 'manage_questionnaire/partials/logic-jump-card.html' %}
    {% endfor %}
    <div class="text-center">
        <button type="submit" class="btn long-btn">Submit</button>
    </div>
</form>
{% endif %}
