<form action="/questionnaire/record/{{question._id}}" method="post">
    <div class="statement-group">
        {% if question.filename != '' %}
        <img style="height: 500px; width: 400px;" src="{{ url_for('static', filename=image_url) }}"
            alt="statement image" />
        {% endif %}
        {% if question.text != '' %}
        <h4 class="text-success w-75">{{question_text}}</h4>
        {% endif %}
        <div class="text-center mt-5">
            <input type="button" value="Previous" onclick="history.back()" class="btn btn-outline-primary long-btn">
            <button type="submit" class="btn btn-outline-primary long-btn">Continue</button>            </div>
    </div>
</form>