{% extends 'base.html' %} {% block content %}

{% include '/partials/admin-navigationbar.html' %} 

<div class="container">
  {% if logic_jump %} 
  {% include 'manage_questionnaire/forms/edit/logic-jump.html' %} 
  {% endif %}
  {% if qtype == 'user_input' %}
  {% include 'manage_questionnaire/forms/edit/user-input.html' %}
  {% endif %}
  {% if qtype == 'multiple_choice' %}
  {% include 'manage_questionnaire/forms/edit/multiple-choice.html' %}
  {% endif %}
  {% if qtype == 'yes-no' %}
  {% include 'manage_questionnaire/forms/edit/yes-no.html' %}
  {% endif %}
  {% if qtype == 'statement' %} 
  {% include 'manage_questionnaire/forms/edit/statement.html' %} 
  {% endif %}
  {% if qtype == 'question-group' %} 
  {% include 'manage_questionnaire/forms/edit/question-group.html' %} 
  {% endif %}
</div>

{% endblock %}



