{% extends 'base.html' %}
{% block content %}



<div class="content overflow-hidden h-100 ">
    <div class="row overflow-hidden h-100">
        <div class="col-2" style="background-color: #404040;">
        <h1>kjasfkdj</h1>
          
        </div>

        <div class="col-9 overflow-auto" style="height: 100%; padding: 0px; background-color: #484848; color: white;">


     
 
<div style="background-color: #ff3333; height: 250px;">
    {% include 'manage_questionnaire/partials/nav.html' %}

                <div class="container">
                    <h1 class="text-left" style="font-size: 60px; padding-left: 50px; padding-top: 30px;">Edit Form</h1>

                                <div class="text-left" style="padding-left: 50px; padding-top: 30px;">
                                
                                    <a class="d-inline p-6 btn btn-secondary" style="background-color: black; border-radius: 30px;" href="/admin/manage-questionnaire/preview"><i class="material-icons" style="vertical-align: middle">preview</i> Preview</a>
                                    <a class="d-inline p-6 btn btn-secondary" style="margin-left: 15px; background-color: black; border-radius: 30px;" href="https://support.zeta-apps.com/helpdesk/etrax/clients"><i class="material-icons" style="vertical-align: middle">publish</i> Publish</a>
                                    </div>
                                </div>
                            </div> 









            {% for question in questions %}
                {% include 'manage_questionnaire/partials/cards/question-card.html' %}
            {% endfor %}
        </div>
    </div>
</div>



{% endblock %}