{% extends 'base.html' %}

{% block content %}

<head>
    <link rel="stylesheet" href="{{ url_for('questionnaire.static', filename='CSS/questionnaire.css') }}" />
</head>
<style>
    body {
        background-color: #f6f6f2 !important;
    }
</style>
<div class="questionnaire-container">
    {% if question.qtype == 'user_input' %}
    {% include 'manage_questionnaire/forms/preview/user-input.html' %}
    {% endif %}
    {% if question.qtype == 'multiple_choice' %}
    {% include 'manage_questionnaire/forms/preview/multiple-choice.html' %}
    {% endif %}
    {% if question.qtype == 'yes-no' %}
    {% include 'manage_questionnaire/forms/preview/yes-no.html' %}
    {% endif %}
    {% if question.qtype == 'statement' %}
    {% include 'manage_questionnaire/forms/preview/statement.html' %}
    {% endif %}
    {% if question.qtype == 'question-group' %}
    {% include 'manage_questionnaire/forms/preview/question-group.html' %}
    {% endif %}
</div>

{% endblock %}