<nav class="navbar navbar-expand-md navigation-bar">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav w-75 justify-content-around pl-5 pr-5">
            <li class="nav-item-lg active">
                <a class="nav-link" href="">Manifesto</a>
            </li>
            <li class="nav-item-lg">
                <a class="nav-link" href="">Team</a>
            </li>
            <li class="nav-item-lg">
                <a class="nav-link" href="">Contact</a>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="/questionnaire" class="nav-button">Sumbit Form</a> </li>
        </ul>
    </div>
</nav>