<nav class="navbar sticky-top navbar-expand-md navigation-bar bg-transparent">
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" style="padding-right: 30px;">
                <a class="btn btn-dark btn-rounded" href="/logout">
                    <i class="material-icons" style="vertical-align: middle">logout</i>
                    Logout
                </a>
            </li>
        </ul>
    </div>
</nav>

{% include 'manage_questionnaire/partials/modals/settings.html' %}



    