

    <div class="card card-dark card-item w-100 text-left" style="width: 100%;">
      <div class="card-body w-100">
        <div class="row w-100">
       
        

          <div class="col w-70">{{question.text}}</div>
          <div class="col">
            <div class="row"> 
                <div class="col w-10"><a href="/admin/manage-questionnaire/update/{{ question._id }}"><i class="material-icons" style="vertical-align: middle">edit</i></a></div>
                <div class="col w-10"><a href="/admin/manage-questionnaire/update/{{ question._id }}/logic-jump"><i class="material-icons" style="vertical-align: middle">add</i> Logic</a></div>
                <div class="col w-10"><a href="#" onclick="$(this).closest('form').submit()"><i class="material-icons" style="vertical-align: middle">delete</i></a></form></div>
            </div>
           </div>


        </div>
      </div>
    </div>


