

    <div class="card card-dark card-item w-100 text-left" style="width: 100%;">
      <div class="card-body w-100">
        <div class="row w-100">
       
        

          <div class="col w-70">{{question.text}}</div>
          <div class="col">
            <div class="row"> 
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#question-edit-{{ question._id }}">
                Launch demo modal
              </button>
                
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#question-logic-{{ question._id }}">
                Launch demo modal
              </button>
                              <div class="col w-10"><a href="#" onclick="$(this).closest('form').submit()"><i class="material-icons" style="vertical-align: middle">delete</i></a></form></div>
            </div>
           </div>


        </div>
      </div>
    </div>


    <!-- Modal -->
<div class="modal fade" id="question-edit-{{ question._id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="background-color: black;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit Question</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% if question.qtype == 'user_input' %}
        {% include 'manage_questionnaire/forms/edit/user-input.html' %}
        {% endif %}
        {% if question.qtype == 'multiple_choice' %}
        {% include 'manage_questionnaire/forms/edit/multiple-choice.html' %}
        {% endif %}
        {% if question.qtype == 'yes-no' %}
        {% include 'manage_questionnaire/forms/edit/yes-no.html' %}
        {% endif %}
        {% if question.qtype == 'statement' %} 
        {% include 'manage_questionnaire/forms/edit/statement.html' %} 
        {% endif %}
        {% if question.qtype == 'question-group' %} 
        {% include 'manage_questionnaire/forms/edit/question-group.html' %} 
        {% endif %}      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



    <!-- Modal -->
    <div class="modal fade" id="question-logic-{{ question._id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="background-color: black;">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Edit Question</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {% include 'manage_questionnaire/forms/edit/logic-jump.html' %} 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    


